<!DOCTYPE html>
<html>
  <head>
    <title>{{seq}} Daily sketches by @liquidx</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">    
    <link rel="stylesheet" href="/style.css">
  </head>
  <body class="canvas">
    <header>
      <div id="sketch-title"><a href="/">Sketches</a> &gt; {{seq}}</div>
    </header>
    <main>
      <div id="container"></div>
    </main>
    <script src="/p5.min.js"></script> 
    <script src="/base.js"></script>
    <script src="/{{seq}}.js"></script>
  </body>
</html>
