* {
  box-sizing: border-box;
}

body {
  font-family: 'Inconsolata', monospace;  
  font-size: 14pt;
  background: #f0f0f0;
  
}

body.index {
  padding-top: 96px;
  padding-left: 72px;
  max-width: 800px;
}

body.canvas {
  padding: 0;
  margin: 0;
  background: #000000;
  color: #808080;
}

a {
  color: #333;
}

body.canvas main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.canvas a {
  color: #e0e0e0;
}

body.canvas #sketch-title {
  text-align: center;
  font-size: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}

h1 {
  font-weight: bold;
  font-size: 1em;
  color: #333
}

p {
  max-width: 600px;
}
