<!DOCTYPE html>
<html>

<head>
  {{> $liquidx-base/_header.hbs }}
  <title>{{name}} -- genart by @liquidx</title>
</head>

<body class="canvas dark">
  <header>
    <a href="../">genart</a>
    <span class="sep">/</span>
    <span class="here">{{name}}</span>
  </header>
  <main class="canvas">
    <div id="container"></div>
  </main>
  <footer id="controls">
  </footer>
</body>

</html>